.catsList{
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}
.catsList > section{
    display: block;
    border: 1px solid black;
}
.catsList > section a{
    border: 1px solid black;
    display: block;
    padding: 10px;
}
.catsList > div{
    display: flex;
    justify-content: space-around;
}
.catsList > div a{
    background-color: #00baba;
    padding: 5px 15px;
    border-radius: 3px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    height: fit-content;
    align-self: center;
}