.catDetail{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    border-radius: 15px;
    width: 30%;
    margin: 0 auto;
}
.catDetail h1{
    font-size: 25px;
    display: block;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 900;
}
.catDetail span{
    display: block;
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 18px;
    font-family: sans-serif;
}
.catDetail span:first-of-type{
    border-top: 1px solid black;
}
.catDetail > div{
    display: flex;
    justify-content: space-around;
}
.catDetail > div a, .catDetail > div button{
    display: inline-block;
    padding: 5px 15px;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border: 0.5px solid black;
    margin: 5px;
}
.catDetail > div a{
    background-color: #00ba01;
}
.catDetail > div button{
    background-color: #ab0000;
}