.dogsList{
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}
.dogsList > section{
    display: block;
    border: 1px solid black;
}
.dogsList a{
    border: 1px solid black;
    display: block;
    padding: 10px;
}